.details-wrapper {
    backdrop-filter: blur(15px);
}

.details-section {
    color: white;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding-top: 40px;
}

.detail-title,
.sub {
    font-family: 'Bungee';
    text-shadow: 0 0 20px rgba(255, 253, 236, 0.811);
}

.tmbd-rating {
    font-weight: lighter;
}

.detail-title {
    width: 90%;
}

.top-details {
    width: 1070px;
}

.title-rating {
    width: 650px;
}

.movie-details {
    max-width: 800px;
    text-align: left;
    margin-right: 280px;
}

.movie-info h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

.movie-info span {
    font-size: 1rem;
    margin-left: 10px;
    color: #ccc;
}

.title-rating-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating p {
    margin: 0;
}

.rating-details {
    display: flex;
    align-items: center;
    background-color: rgba(70, 70, 70, 0.336);
    border-radius: 30px;
    padding-left: 40px;
    padding-top: 10px;
    width: 310px;
    margin-left: 100px;
    border: solid;
    border-width: 1px;
    border-color: grey;
    font-family: 'Bungee';
}

.rating .react-star-rating__star {
    font-size: 24px;
    color: #FFD700;
    margin-right: 5px;
}

.movie-info p {
    margin-top: 5px;
}

.poster-video-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.movie-poster img {
    max-width: 290px;
    border: 1px solid #ccc;
    margin-right: 20px;
    border-radius: 20px;
}

.movie-video iframe {
    width: 760px;
    height: 440px;
    border: none;
    border-radius: 20px;
}

.movie-summary,
.movie-cast {
    margin-top: 20px;
    width: 100%;
}

.movie-summary p,
.movie-cast p {
    margin-top: 5px;
}

.action-buttons {
    text-align: right;
}

.details-watchlist-btn {
    font-family: 'Bungee';
    background-color: rgb(255, 245, 169);
    box-shadow: 2px 2px 11px rgba(255, 246, 182, 0.675);
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
}

.comments-section {
    margin-top: 10px;
    /*border-top: solid;
    border-color: grey;
    border-width: 1px;*/
    padding-top: 60px;
}

.comments-list-wrapper {
    background-color: rgba(0, 0, 0, 0.344);
    border-radius: 20px;
    margin: auto;
    width: 1100px;
    text-align: center;
    padding: 20px;
    border: solid;
    border-width: 1px;
    border-color: rgba(26, 26, 26, 0.882);
    box-shadow: 5px 5px 25px rgba(62, 62, 62, 0.722);
}

.comment-item {
    list-style: none;
}

.comment-input {
    width: 90%;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    background-color: rgba(38, 38, 38, 0.789);
    color: rgb(140, 140, 140);
    border: solid;
    border-width: 1px;
    border-color: grey;
}

.comment-btn {
    font-family: 'Bungee';
    background-color: rgb(255, 245, 169);
    box-shadow: 2px 2px 11px rgba(255, 246, 182, 0.675);
    border-radius: 20px;
}

.comment-card {
    text-align: left;
}