nav {
    background-color: rgb(27, 27, 27);
}

/*.btn{
    border-radius: 15%;
    text-shadow: 0 0 10px rgb(241, 242, 247),0 0 40px rgb(247, 248, 252),
    0 0 80px rgb(227, 228, 235);
    transition-delay: 1s;
}*/

.nav-login-btn {
    font-family: 'Bungee';
    background-color: rgb(255, 245, 169);
    box-shadow: 2px 2px 11px rgba(255, 246, 182, 0.675);
    border-radius: 20px;
}

.logo {
    height: 70px;
    padding: 0;
}

.subtitle {
    font-family: 'Bungee';
    color: rgb(250, 255, 226);
    text-shadow: 0 0 12px rgba(253, 255, 242, 0.712);
    font-size: 22px;
    background-color: rgba(46, 46, 46, 0.737);
    border-top: solid;
    border-color: grey;
    border-width: 1.5px;
}

.more-genres {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.genres-btn {
    border-radius: 20px;
    font-family: 'Bungee';
    background-color: rgb(255, 245, 169);
    box-shadow: 2px 2px 11px rgba(255, 246, 182, 0.675);
}

.dropdown-menu {
    max-height: 150px;
    width: 200px;
    overflow-y: scroll;
    border-radius: 20px;
    background-color: rgb(56, 52, 52);
}

.dropdown-item {
    color: rgb(210, 210, 210);
}

.search-input {
    color: rgb(230, 230, 230);
    background-color: rgb(56, 52, 52);
    border-radius: 20px;
    border-color: grey;
}

.btn-search {
    border-radius: 20px;
}

.btn-search i {
    text-shadow: 0 0 10px rgba(254, 254, 254, 0.645);
}

.scrollbar::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 45px rgb(44, 43, 43); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 20px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.836); 
}

.footer {
    background-color: rgb(25, 25, 25);
    border-top: solid;
    border-width: 1px;
    border-color: rgb(51, 51, 51);
}