.superFormWrappa2{
    text-align: -webkit-center;
    margin-top: 35px;
    margin-bottom: 50px;
}

.formWrappa2{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 120px;
    margin-right: 120px;
}

.form-wrapper {
    border: solid;
    margin-top: 20px;
    padding-top: 30px;
    border-radius: 20px;
    width: 720px;
    margin: auto;
}

.reg-inputs {
    color: lightgrey;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
    box-shadow: 1px 4px 15px rgb(71, 41, 107);
    border-color: grey;
}

.form-label {
    margin-top: 10px;
}

.form-control:active {
    color: black;
}

.reg-logo {
    height: 120px; 
}

.text-light-reg {
    color: rgb(210, 210, 210);
    text-shadow: 0px 3px 25px rgba(251, 255, 218, 0.782);
    font-family: 'Press Start 2P';
    font-weight: bold;
    font-size: 27px;
}

.purple-reg-title {
    color: rgb(133, 81, 210);
    text-shadow: 0 0 40px rgb(210, 194, 233);
}

.yellow-reg-title {
    color: rgb(255, 245, 169);
    text-shadow: 0 0 20px rgba(255, 246, 182, 0.871);
}

.form-texts {
    color: rgb(205, 205, 205);
    text-shadow: 2px 0px 15px rgba(251, 255, 218, 0.782);
    font-family: 'Bungee';
}

.reg-button {
    font-family: 'Bungee';
    background-color: rgb(255, 245, 169);
    box-shadow: 2px 2px 12px rgba(255, 246, 182, 0.871);
    border-radius: 20px;
}

.already-account {
    margin-bottom: 35px;
    margin-top: 70px;
}

@media screen and (max-width: 700px) {
    .form-wrapper {
        width: 600px;
        margin: auto;
    }
    .formWrappa2{
        margin-left: 80px;
        margin-right: 80px;
    }
}