.superFormWrappa{
    margin-bottom: 170px;
    margin-top: 120px;
    margin-left: 150px;
}

 .formWrappa{
     background-color: hsl(125, 51%, 17%);
     border-radius: 6%;
 }
 

 /*.form-control{
     box-shadow: 1px 4px 15px rgb(223, 233, 138);
 }*/